body {
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Inria Sans', sans-serif;
    background: linear-gradient(-45deg, #c8b4ff, #ffffff, #c8b4ff);
    background-size: 500% 500%;
    animation: gradient 10s ease infinite;
}

.navbar-container {
    display: flex;
    justify-content: center;
    height: 50px;
  }

  .navbar {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navbar li {
    display: inline-block;
    margin: 0 10px;
    font-size: 100%;
  }

  .navbar a {
    color: rgb(0, 7, 44);
    text-decoration: none;
    padding: 15px 20px;
  }

/*Animated Background*/
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 55% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    color: rgb(0, 7, 44);
    text-align: center;
    margin-top: 2%;
    font-size: 300%;
}

p {
    color: rgb(0, 7, 44);
    text-align: center;
    padding-top: 1%;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 120%;
    line-height: 195%;
}

span {
    color: rgb(196, 133, 255);
}


/*Website Logo Resize*/
.WebsiteLogoResize img{
    display: block;
    width: 25%;
    height: 25%;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.WebsiteProfileResize img{
  border-radius: 20px;
  display: block;
    width: 25%;
    height: 25%;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

@keyframes img {
    0% {
        transform: translate(200%, 300%) scale(5);
      }
      50% {
        transform: translate(250%, 350%) scale(5);
      }
      100% {
        transform: translate(200%, 300%) scale(5);
      }
}

/* NavBar
ul {
    list-style-type: none;
    position: sticky;
}

.NavBarButton {
    display: flex;
    float: left;
    padding: 1%;
    justify-content: center;
}

li a {
    color: rgb(0, 7, 44);
    text-align: center;
    text-decoration: none;
    padding: 10px 20px 10px 15px;
    justify-content: center;
}

.HomeButton {
    text-decoration: none;
    padding: 1%;
} */

/*Animated Buttons*/
.HoverOverTextAnimation {
    transition: all 0.2s ease-in-out;
}

.HoverOverTextAnimation:hover {
    font-size: 130%;
    color: #8000ff;
}

/*Blob Background*/
.Particle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background: radial-gradient(circle at center, #706dff 0%, #eee4ff 50%);
    animation: particleMove 40s ease-in-out infinite;
    z-index: -1;
  }

  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 55% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

  @keyframes particleMove {
    0% {
      transform: translate(1300%, 530%) scale(15);
    }
    50% {
      transform: translate(1300%, 530%) scale(17);
    }
    100% {
      transform: translate(1300%, 530%) scale(15);
    }
  }

  .ProjectGrid {
    /* display: grid;
    background-color: lightpink;
    border: 5px solid blue;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-template-rows: 50vh 200px 100px;
    column-gap: 10px;
    row-gap: 5px; */
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 200px;
    gap: 20px;
    position: relative;
    margin: 3%;
    /* background-color: lightpink;
    border: 5px solid blue; */
  }

.box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    position: relative;
    /* background-color: lightpink;
    border: 5px solid blue; */
    padding: 3%;
    position: relative;
    left: 30%;
    bottom: 20%;
    text-align: center;
  }

  .box2 {
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 4;
    position: relative;
    font-size: 120%;
    /* background-color: lightpink;
    border: 5px solid blue; */
    padding: 2%;
    line-height: 200%;
    position: relative;
    bottom: 35%;
    left: 20%;
  }